<h2>Welcome to the MarketPlace!</h2>
<p>
    Hello {{ user.firstname }}. <br>
    Your registration data: <br>
    login: {{ user.email }} <br>
    password: {{ password }} <br><br><br>

    Before login confirm your email. <br>
    Click <a href="{{ url }}">HERE</a>
</p>